.el {
  width: 4.5rem;
  height: 4.5rem;
}

.lg {
  width: 3rem;
  height: 3rem;
}

.med {
  transform: scale(1.4);
}

.sm {
  width: 1.6rem;
  height: 1.6rem;
}

.xs {
  width: 1.6rem;
  height: 1.6rem;
}
