@import "../../../../styles/main";

.wrapper {
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 60px);
}

.wrapper--shrink {
  @extend ._wrapper--shrink;
}

.section--cards {
  padding: 2rem;
}
