@import "../../../../styles/main";

.layout--select-school {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background-color: $blue;
}

.layout--select-school__header {
  display: flex;
  align-items: center;
  flex: 2;
  margin-bottom: 100px;
}

.layout--select-school__title {
  color: white;
}

.layout--select-school__content {
  flex: 3;
  width: 100%;
  padding: 0px 20%;
  box-sizing: border-box;
}

.layout--user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background-color: $pink;
}

.input {
  margin: 20px 0px;
}
