@import "../../../../styles/main";

.wrapper {
  width: 100%;
}

.wrapper--shrink {
  width: 100%;
  padding-right: 330px;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.section--input {
  position: sticky;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid $gray;
}

.section--messages-chunk {
  position: relative;
  margin-top: 40px;
}

.section--messages-chunk__header {
  display: flex;
  justify-content: center;
}

.section--messages-chunk__header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section--messages-chunk__date {
  position: absolute;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  top: -20px;
  left: 37%;
	background-color: #ffffff;
	border: solid 1px #f0f0f0;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
}

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 33px 20px;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.header-bar__channel-info {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  align-items: center;
  padding: 0px 2rem;
}

.header-bar__channel-info__users-count {
  margin-right: 10px;
  background-color: $darkgray;
  color: white;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-size: 0.8rem;
}

.header-bar__channel-info__description {
  display: inline-flex;
  flex-direction: column;
}

.header-bar__channel-info__description span {
	font-weight: 300;
	font-style: italic;
  color: #a3a3a3;
}

.font--group-name {
  font-size: 25px;
}

.font--description {
  font-size: 15px;
  margin-top: 15px;
}

.header__item-user {
  position: relative;
  height: 40px;
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  cursor: pointer;
}

.header__item-user__img {
  height: 40px;
  border-radius: 8px;
  border: 2px solid white;
  transition: border 0.2s ease;
}

.header-bar__list--user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 60px;
  overflow-x: scroll;
}

.header__item-user__name {
  position: absolute;
  line-height: 40px;
  background: $black;
  border-radius: 4px;
  top: 40px;
  opacity: 0;
  padding: 2px 15px;
  font-size: 0.8rem;
  color: white;
  width: auto;
  white-space: pre;
  z-index: 14;
}

.header__item--user__icon--online-status {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
}

.header__item-user:hover .header__item-user__img {
  border: 2px solid $pink;
  transition: border 0.3s ease-out;
}

.header__item-user:hover .header__item-user__name {
  opacity: 0.4;
}

.content {
  display: flex;
  min-height: 100vh;
  flex-direction: column-reverse;
  background: #f7f7f7;
}

.content__ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
