@import "../../../styles/main";

.button {
  padding: 20px 80px;
  border-radius: 12px;
  border: none;
  height: 60px;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  outline: none;
  cursor: pointer;
}

.button--primary {
  background-color: white;
  border: 2px solid $purple;
  transition: background-color 0.5s ease;
  // transition: color 0.1s ease;
  color: $darkgray;
}

.button--primary:hover {
  background-color: $purple;
  border: 2px solid $purple;
  color: $darkgray;
}

.button--danger {
  background-color: $green;
  color: white;
}

.button--regular {
  background-color: $green;
  color: white;
}

.button--option {
  background-color: white;
  color: $darkblue;
}
