@import "../../../styles/main";

.element {
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  outline: none;
  width: 270px;
  height: 60px;
  cursor: pointer;
}

.primary {
  background-color: transparent;
  border: 2px solid $purple;
  font-size: 20px;
  font-weight: bold;
  color: #383838;
}

.primary:hover {
  background-color: white;
}

.danger {
  color: white;
}

.regular {
  color: white;
}

.option {
  background-color: white;
}
