@import "../../../styles/main";

.element {
  padding: 15px 80px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  outline: none;
  cursor: pointer;
}

.primary {
  background-color: white;
  border: 2px solid $purple;
  transition: background-color 0.5s ease;
  transition: color 0.2s ease;
  font-size: 25px;
  font-weight: 500;
  width: 300px;
  color: #383838;
  text-transform: capitalize;
}

.primary:hover {
  background-color: #FFF;
  border: 2px solid $purple;
  color: #383838;
}

.danger {
  color: white;
}

.regular {
  color: white;
}

.option {
  background-color: white;
}
