{
  "presets": [ "react", "es2016", "stage-0" ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-flow-strip-types"
  ]
}
