@import "../../../styles/main";

.wrapper {
  background: $gray;
  height: 100%;
  cursor: pointer;
  overflow-y: scroll;
}

.inputSearch svg {
  margin-right: 5px;
}

.inputSearchWrapper {
  background: white;
  padding: 5px 10px;
  margin: 17px 17px 13px;
  height: 60px;
  width: 84%;
  border-radius: 15px;
  height: 40px;
}

.inputSearchWrapper svg {
  margin-left: 37px;
  fill: #7a797b;
}

.inputSearch {
  margin-left: 20px;
  border: none;
  outline: none;
  width: 50%;
  height: 40px;
  box-sizing: border-box;
  font-size: 12px;
}

.list--user-invite {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: #FFF;
  border-radius: 20px;
  margin: 17px;
  padding: 8px 5px;
  border: 2px dotted #969696;
  opacity: 0.5;
}

.list--user-invite__left {
  display: flex;
  flex-direction: row;
}

.list--user-invite__left__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.list--user-invite__right {

}

.list--user-invite__left__title {
  font-size: 16px;
	font-weight: 900;
}

.list--user-invite__left__subtitle {
  font-size: 12px;
}

.list--user-invite__left__img {
  background: #2d2d2d;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  opacity: 0.2;
}

.list--user-invite__left__text {

}

.header {
  background: #ff4081;
  color: white;
  height: 45px;
  padding: 0px 18px;
  font-size: 12px;
}

.header__nav, .header__nav--active {
  font-size: 13px;
  padding: 15px 0px;
  margin-right: 11.5px;
  cursor: pointer;
  display: inline-block;
	border-radius: 2px;
  height: 11px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__nav:after {
  margin-left: 5px;
  content: "(" attr(data-count) ")";
}

.header__nav--active {
  font-weight: 900;
  border-bottom: 5px solid $gray;
}

.ul {
  overflow: scroll;
  height: 100%;
  padding-bottom: 120px;
}
