@import "../../../styles/main";

.wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 0px;
}

.font-name {
  display: inline-block;
  margin-right: 20px;
  font-size: 0.9rem;
  font-weight: $font-weight-exbold;
  color: $black;
}

.box-image {
  width: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 60px;
  margin-right: 13px;
}

.img-user {
  width: 35px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
