@import "../../../styles/main";

.wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 0px;
  padding-left: 10px;
  position: relative;
}

.font-name {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.9rem;
  font-weight: $font-weight-exbold;
  color: $black;
  cursor: pointer;
}

.font-name:hover {
  text-decoration: underline;
}

.box-image {
  width: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 60px;
  margin-right: 13px;
}

.img-user {
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.content--text {
  word-break: break-all;
  margin-right: 10px;
  line-height: 1.34;
}

.content--right {
  display: flex;
  align-items: center;
}

.panel--menu {
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 1;
}

.icon--open-menu {
  margin-left: 5px;
  cursor: pointer;
}
