@import "../../../../styles/main";

.wrapper {
  width: 100%;
}

.wrapper--shrink {
  width: 100%;
  padding-right: 330px;
  box-sizing: border-box;
}

.section--cards {
  padding: 2rem;
}

.section--cards__title {
  font-size: 15px;
  color: $darkgray;
  text-transform: uppercase;
}
