.wrapper {
  display: flex;
  list-style: none;
  align-items: center;
  background: white;
  border-radius: 15px;
  margin: 11px 17px;
  padding: 8px;
  box-sizing: border-box;
}

.box--image {
  margin-right: 12px;
}

.box--info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.box--image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.font--name {
  font-size: 12px;
  color: #4b4b4b;
}

.font--name b {
  color: #2d2d2d;
}

.font--time {
	font-size: 9px;
	font-weight: 900;
  color: #bdbdbd;
  margin-top: 2px;
}

.img--user {

}

.box--info__left {
  display: flex;
  flex-direction: column;
}
