@import "../../../styles/main";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 99%;
  display: inline-block;
  background-color: $gray;
  font-family: $font-family;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 18px 5px 18px 65px;
  box-sizing: border-box;
}

.input:empty:before {
  content: "Write a comment to @" attr(placeholder);
  display: block; /* For Firefox */
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #cacaca;
}

.instruction {
  position: absolute;
  top: -50px;
  right: 0px;
  font-size: 12px;
  width: auto;
  height: 5px;
  padding: 20px;
  background-color: $black;
  color: white;
  border-radius: 4px;
}

.instruction__command {
  border: 1px solid white;
  padding: 5px;
  background-color: lighten($black, 20%);
  border-radius: 4px;
  margin-right: 3px;
}

.instructionItem {
  margin-right: 10px;
}

.input__box--img {
  display: inline-block;
  position: absolute;
  width: 35px;
}

.input__box--img img {
  width: 100%;
  border-radius: 50%;
  margin-left: 10px;
}

.inputText:before {
  width: 100px;
  height: 100px;
}
