@import "../../../styles/main";

.wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 2rem;
  background: white;
  align-items: flex-start;
}

.font-name {
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  color: $black;
}

.section__content {
  width: 93%;
}

.box-image {
  display: flex;
  width: 7%;
  min-width: 40px;
  overflow: hidden;
  margin-right: 15px;
  justify-content: flex-end;
  align-items: flex-end;
}

.img-user {
  width: 40px;
  border-radius: 8px;
}

.paragaph {
  padding: 5px 0px;
}
