$green: #5fe36f;
$purple: #ffc7d7;
$pink: #fc70a6;
$blue: #7096FB;
$darkblue: #37639d;
$orange: #FFEFC7;
$black: #404040;
$darkgray: #717070;
$gray: #f0f0f0;
$lightgray: #f7f7f7;
$whitegreen: #EEFFF6;
$whiteblue: #EAF8FF;
$yellow: #FFDD00;
