$green: #5fe36f;
$purple: #ffc7d7;
$pink: #fc70a6;
$blue: #7096FB;
$darkpurple: #aa00ff;
$orange: #FFEFC7;
$black: #404040;
$darkgray: #717070;
$gray: #f0f0f0;
$lightgray: #f7f7f7;
$lightblue: #03a9f4;
$whitegreen: #EEFFF6;
$whiteblue: #EAF8FF;
$yellow: #FFDD00;
$red: #fb3c3c;
$strongpink: #ff4081;
