._icon--channel--online-status {
  margin-right: 5px;
  padding: 1px 2px 3px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

$size-icon-online-status: 6px;

._icon--online, ._icon--offline {
  display: inline-block;
  width: $size-icon-online-status;
  height: $size-icon-online-status;
  padding: 2px;
  border-radius: 50%;
  box-sizing: border-box;
}

._icon--online {
  border: 2px solid rgba(0, 0, 0, 0);
  background: #5fe36f;
  transition: background 1s ease-out;
}

._icon--offline {
  border: 2px solid lightgray;
  background: lightgray;
  transition: background 0.3s ease-out;
}
