.home a {
  text-decoration: none;
}

.unable {
  cursor: not-allowed;
}

.unable:hover:after {
  position: absolute;
  content: 'Coming soon';
  background: #313131;
  color: white;
  top: 60px;
  left: 0;
  padding: 10px 20px;
  margin-right: 16px;
  border-radius: 5px;
  width: auto;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.unable:hover:before {
  content: ' ';
  position: absolute;
  top: 50px;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}

.border {
  display: inline-block;
  width: 20px;
  border-top: 1px solid black;
  height: 5px;
}

.home {
  color: #313131;
}

.home-title {
  font-size: 40px;
  color: #FF3375;
  margin-top: 80px;
  margin-bottom: 10px;
}

.home-subtitle {
  width: 50%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.home-header {
  padding: 42px 90px 0px;
  width: 100%;
  background: #FFF9FB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.home-header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-mid-section {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--top {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #FFF9FB;
  overflow: hidden;
  max-height: 774px;
}

.app-badge {
  width: 150px;
  margin-right: 26px;
}

.home--desktop {
  display: flex;
  flex-direction: row;
  background: #fffbcc;
}

.home-btn-icon {
  position: relative;
}

.home--desktop-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 84px;
}

.home--desktop-right {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home--desktop-right__image {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}

.home--mobile {
  display: flex;
  flex-direction: row;
  background: #EBFFF3;
  position: relative;
}

.home--mobile-left {
  width: 60%;
  position: relative;
  height: 100%;
}

.home--mobile-left:after {
  content: "";
  clear: both;
}

.home--mobile-right {
  width: 40%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.home-font-label {
  font-size: 30px;
}

.home--pricing {
  background: #FFF8FA;
  height: 800px;
}

.home-navbar-logo {
  margin-top: 2em;
}

.home-section-title {
  font-size: 42px;
  margin: 70px 0px 18px 0px;
}

.home-section-subtitle {
  font-weight: 300;
  line-height: 2rem;
  font-size: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  line-height: 1.3;
}

.home-header-link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #878787;
  padding-bottom: 5px;
  border-bottom: 2px solid #E1E1E1;
  margin-left: 54px;
  text-transform: uppercase;
  white-space: nowrap;
}

.home-signup {
  color: #FF3375;
  border-bottom: 2px solid #FF3375;
  transform: color 2s ease-out;
}

.home-signup:hover {
  color: #FF3375;
  border-bottom: 2px solid #FF3375;
  transform: color 2s ease-out;
}

.home-footer-sitemap {
  display: flex;
  padding: 40px 10rem;
  justify-content: center;
  background: white;
  padding: 40px 140px 40px 210px;
}

.home-footer-sitemap__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 200px;
  padding: 20px 2%;
  box-sizing: border-box;
  align-items: flex-start;
}

.home-footer-sitemap__nav h5 {
  margin-bottom: 14px;
}

.home-footer-sitemap__nav:nth-child(1) h5 {
  color: #C56910;
}

.home-footer-sitemap__nav:nth-child(2) h5 {
  color: #D41D25;
}

.home-footer-sitemap__nav:nth-child(3) h5 {
  color: #E9BB77;
}

.home-footer-sitemap__nav:nth-child(4) h5 {
  color: #CC54DD;
}

.home-footer-sitemap__nav ul {
  padding: 0;
  margin: 0;
}

.home-footer-sitemap__nav li {
  list-style: none;
  margin: 6px 0px;
}

.home-footer-sitemap__nav li a {
  font-size: 14px;
  color: inherit;
  cursor: pointer;
}

.home-illu {
  height: auto;
  position: fixed;
  bottom: 7em;
}

.home-footer {
  height: 3.5em;
  background: #f3f3f3;
  color: #A2A2A2;
  text-align: center;
  font-size: 12.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-footer img {
  vertical-align: middle;
  padding: .1em;
}
.home-footer a:link, .home-footer a:visited {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.home-footer a:hover {
  color: white;
  opacity: .8;
}

a:hover {
  color: inherit;
}

.home-img--iphone {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 24%;
  max-width: 320px;
  z-index: 100;
  min-width: 250px;
}

.home-img-screenshot {
  height: 57%;
  filter: drop-shadow(0px 2px 15px rgba(205, 205, 205, 0.38));
  margin-top: 20px;
}

.home-img--android {
  width: 40%;
  position: absolute;
  top: 21%;
  left: 55%;
  max-width: 290px;
  z-index: 90;
  min-width: 220px;
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 2px #ffc7d7;
  outline: none;
  margin-top: 20px;
  width: 250px;
  min-height: 50px;
  cursor: pointer;
}

.home-btn-join-campus {
  margin-top: 22px;
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 400;
}

.home-btn:after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.home-btn:hover:after {
  height: 100%;
  width: 135%;
}

.home--pricing-header {
  width: 80%;
  margin: 0px 10%;
  text-align: left;
  margin-bottom: 20px;;
}

.home-card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  padding: 35px 40px 0px;
  width: auto;
  height: 475px;
  max-width: 388px;
  box-shadow: 0 2px 26px 0 rgba(196, 196, 196, 0.5);
  margin: 0px 55px;
  background: #FFFCF7;
}

.home-card-price table {
  margin-top: 20px;
}

.home-card-price tbody {
  text-align: center;
}

.home-card-price th {
  font-size: 16.8px;
  text-transform: uppercase;
}

.home-card-price tbody tr td {
  font-weight: 300;
  font-size: 16.8px;
  padding: 3px 0px;
  text-transform: uppercase;
  color: #737373;
}

.home-card-price table tbody tr {
  margin-bottom: 20px;
}

.home-card-price:nth-child(2) {
  background-color: #F9FFF7;
}

.home-box-icons {
  height: auto;
  display: flex;
  flex-direction: row;
}

.home-card-price__emoji {
  font-size: 80px;
}

.home-font-label {
  font-size: 30px;
}

.home-section-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-font-price {
  text-transform: uppercase;
  color: #FF3375;
  font-size: 50px;
  margin: 16px;
  font-weight: 600;
}

.home-img-donuts-right, .home-img-donuts-left {
  position: absolute;
  bottom: -20px;
}

.home-img-donuts-right {
  right: 0;
}

.home-img-donuts-left {
  left: 0;
}

.home-btn-download {
  display: none;
}

.home--top-donnut-mobile {
  display: none;
}

.home-subtitle-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .home-header,
  .home--top img,
  .home--desktop,
  .home--mobile,
  .home--pricing,
  .home-footer-sitemap,
  .home-btn-join-campus,
  .home-subtitle {
    display: none;
  }

  .home-btn-download {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
  }

  .home--top {
    height: auto;
    padding: 20px 0px;
  }

  .home-subtitle-mobile {
    padding: 14px;
    display: block;
    margin: 0;
    font-size: 20px;
  }

  .home--top-donnut-mobile {
    display: block !important;
  }

  .home-title {
    text-align: center;
    padding: 0;
    font-size: 45px !important;
    margin-right: 40px;
    font-weight: 900;
    line-height: 1.11;
    text-align: left;
    margin-top: 37px;
    margin-left: 14px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .home-header {
    flex-direction: column;
  }

  .home-header-nav {
    margin-top: 30px;
    justify-content: center;
    padding: 0px 12px;
  }

  .home-header-link {
    margin: 0px 12px;
  }

  .home-subtitle {
    font-size: 18px;
    width: 70%;
  }

  .home-title {
    font-size: 30px;
    padding-top: 30px;
  }

  .home--mobile-right {
    padding: 40px;
  }

  .home--mobile-right .home-section-title {
    padding: 0;
  }

  .home--desktop {
    flex-direction: column;
  }

  .home--desktop-left, .home--desktop-right {
    width: 100%;
  }

  .home--desktop-left {
    margin-bottom: 520px;
  }

  .home--desktop-right {
    margin-top: 50px;
  }

  .home--mobile {
    flex-direction: column;
    padding: 40px;
    height: 1200px;
  }

  .home--mobile-left {
    padding-top: 0px;
    width: 100%;
    height: 60%;
  }

  .home--mobile-right {
    margin-top: 0px;
    width: 100%;
  }

  .home--pricing {
    height: 1700px;
  }

  .home-section-card {
    flex-direction: column;
    align-items: center;
  }

  .home-card-price {
    margin-top: 60px;
  }

  .home-footer-sitemap {
    padding: 40px 2rem;
  }

  .home-img--iphone {
    width: 35%;
    position: absolute;
    top: 19%;
    left: 2%;
    max-width: 320px;
    z-index: 100;
    min-width: 250px;
  }

  .home-img--android {
    width: 27%;
    position: absolute;
    top: 32%;
    left: 44%;
    max-width: 290px;
    z-index: 90;
    min-width: 220px;
  }
}
