@import "../../../styles/main";

$height-icon: 35px;

.wrapper {
  display: flex;
  align-items: center;
}

.ul {
  display: flex;
  flex-direction: row;
}

.icon--user {
  display: flex;
  flex-direction: row;
  position: relative;
  height: $height-icon;
  margin: 0px 7px;
  justify-content: center;
  cursor: pointer;
}

.icon--user__img {
  height: $height-icon;
  border-radius: 8px;
  border: 2px solid $lightgray;
  transition: border 0.2s ease;
}

.icon--user__name {
  position: absolute;
  line-height: 40px;
  background: $black;
  border-radius: 4px;
  top: 40px;
  opacity: 0;
  padding: 2px 15px;
  font-size: 0.8rem;
  color: white;
  width: auto;
  white-space: pre;
  z-index: 14;
}

.icon--user__online-status {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
}

.icon--online {
  @extend ._icon--online;
}

.icon--offile {
  @extend ._icon--offline;
}

.icon--user:hover .icon--user__img {
  border: 2px solid $pink;
  transition: border 0.3s ease-out;
}

.icon--use:hover .icon--user__name {
  opacity: 0.4;
}

.icon--user--number, .icon--setting {
  display: flex;
  height: $height-icon;
  width: 35px;
  height: 35px;
  background-color: #d8d8d8;
  color: white;
  margin: 0px 7px;
  padding: 0px 1px;
  border: 2px solid $lightgray;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon--user--number:before {
  content: '+';
  color: white;
  font-size: 16px;
}
