@import "../../styles/main";

.wrapper {
  display: flex;
  flex-direction: row;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 5px;
}

.section--image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.section--image img {
  width: 100%;
}

.section--content {
  margin-left: 1rem;
}

.section--content__header {
  margin-bottom: 1rem;
}

.section--content__fotter {
  margin-top: 1rem;
}

.section--content__comment {
  // opacity: 0;
  // height: 0;
  // position: absolute;
  // top: -100px;
  // transition: height 1s ease;
  transition: opacity 0.5s ease;
}

.section--content__comment__list {

}

.section--content__fotter {
  width: 100%;
  display: flex;
  flex-direction: row;
}


.section--file {
  width: 100%;
}

.section--file__detail {
  width: 100%;
  height: auto;
  padding: 30px 0px 20px;
}

.file {

}

.star-review {
  background-color: $yellow;
  padding: 1px 10px;
  border-radius: 2px;
  margin-left: 25px;
  line-height: 14px;
}

.star-review:after {
  content: attr(data-reviews);
  font-size: 0.8rem;
  color: white;
  font-weight: $font-weight-exbold;
}

.icon-star {
  vertical-align: bottom;
}

.show {
  opacity: 1;
  height: auto;
  transition: height 1s ease;
  transition: opacity 0.5s ease;
  position: static;
}

.text--user-name {
  @include h5;
  margin-bottom: 20px;
}

.btnLike, .btnComment {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0px 5px;
  font-size: 0.8rem;
  border-radius: 4px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%); ;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btnLike:after, .btnComment:after {
  content: "(" attr(data-count) ")";
  margin-left: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.text--post-time {
  font-weight: 500;
  color: gray;
  font-size: 0.8rem;
  margin-left: 20px;
}
