@import "../../styles/main";

$animation-duraion: 0.2s;

.wrapper {
  display: flex;
  flex-direction: row;
  background: white;
  // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: $animation-duraion;
	-webkit-animation-duration: $animation-duraion;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

.wrapper a {
  text-decoration: none;
  color: $lightpink;
}

@keyframes slideLeft {
	0% {
		transform: translateY(-150%);
	}

	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0%);
  }
}

.wrapper--link {
  text-decoration: none;
  color: inherit;
}

.section--image {
  cursor: pointer;
}

.section--image img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.section--content {
  margin-left: 1rem;
  font-size: 14px;
}

.section--content__header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.section--content__footer {
  display: flex;
  flex-direction: row;
}

.section--content__comment {
  transition: opacity 0.5s ease;
  margin-top: 15px;
}

.section--content__comment__form {
}

.section--content__comment__list {
  margin-top: 25px;
}

.section--content__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.section--content {
  width: 100%;
}

.section--file {
  width: 100%;
}

.section--file__detail {
  width: 100%;
  height: auto;
}

.star-review {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  background-color: $yellow;
  padding: 1px 8px;
  font-size: 16px;
  border-radius: 20px;
  height: 24px;
  margin-left: 15px;
  line-height: 14px;
}

.star-review:before {
  content: attr(data-reviews);
  font-size: 1rem;
  color: white;
  font-weight: $font-weight-exbold;
}

.icon-star {
  vertical-align: bottom;
}

.show {
  opacity: 1;
  height: auto;
  transition: height 1s ease;
  transition: opacity 0.5s ease;
  position: static;
}

.text--user-name {
  @include h4;
  color: #2D2D2D;
  cursor: pointer;
  text-transform: capitalize;
  color: #2D2D2D;
  font-size: 16px;
  font-weight: 900;
}

.btn--comment {
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  font-size: 0.8rem;
  height: 34px;
	border-radius: 8px;
  background: white;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  outline: none;
  text-transform: uppercase;
  color: #999999;
  margin-right: 10px;
}

.btn--like:hover, .btn--comment:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%);
  transform: box-shadow 0.5s ease-out;
}

.btn--comment:after {
  content:  "(" attr(data-count) ")";
  margin-left: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #999999;
}

.text--post-time {
  font-weight: 500;
  color: gray;
  font-size: 0.8rem;
  margin-left: 20px;
}

.footer__section--btns {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
