@import "../../styles/main";

.wrapper {
  display: flex;
  flex-direction: row;
  background: white;
  // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 5px;
}

.wrapper--link {
  text-decoration: none;
  color: inherit;
}

.section--image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: $darkgray;
  cursor: pointer;
}

.section--image img {
  height: 100%;
}

.section--content {
  margin-left: 1rem;
}

.section--content__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section--content__fotter {
  margin-top: 1rem;
}

.section--content__comment {
  // opacity: 0;
  // height: 0;
  // position: absolute;
  // top: -100px;
  // transition: height 1s ease;
  transition: opacity 0.5s ease;
  margin-top: 40px;
}

.section--content__comment__form {
  margin: 30px 0px;
}

.section--content__comment__list {
  margin-top: 30px;
}

.section--content__fotter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section--content {
  width: 100%;
}

.section--file {
  width: 100%;
}

.section--file__detail {
  width: 100%;
  height: auto;
  padding: 30px 0px 20px;
}

.star-review {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  background-color: $yellow;
  padding: 1px 10px;
  border-radius: 20px;
  height: 24px;
  margin-left: 15px;
  line-height: 14px;
}

.star-review:after {
  content: attr(data-reviews);
  font-size: 0.8rem;
  color: white;
  font-weight: $font-weight-exbold;
}

.icon-star {
  vertical-align: bottom;
}

.show {
  opacity: 1;
  height: auto;
  transition: height 1s ease;
  transition: opacity 0.5s ease;
  position: static;
}

.text--user-name {
  @include h4;
  color: #2D2D2D;
  cursor: pointer;
}

.btn--comment {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  font-size: 0.8rem;
	border-radius: 8px;
  background: white;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  outline: none;
  text-transform: uppercase;
  color: #999999;
}

.btn--comment {
  margin-left: 15px;
}

.btn--like:hover, .btn--comment:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%);
  transform: box-shadow 0.5s ease-out;
}

.btn--comment:after {
  content:  "(" attr(data-count) ")";
  margin-left: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #999999;
}

.text--post-time {
  font-weight: 500;
  color: gray;
  font-size: 0.8rem;
  margin-left: 20px;
}
