@import "../../../styles/main";

.wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 0px;
  padding: 0px 30px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  min-height: 80px;
}

.font-name {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  color: #030303;
  font-weight: $font-weight-normal;
}

.box-image {
  overflow: hidden;
  display: inline-block;
  margin-right: 15px;
  border: 2px solid white;
}

.img-user {
  border-radius: 10px;
  border: 2px solid white;
  width: 50px;
}
