@import "../../../styles/main";

$left-padding: 16px;

.link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 4px;
  padding-left: $left-padding;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 196px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper:hover {
  background-color: white;
}

.wrapper--active {
  background-color: $strongpink;
}

.wrapper--active:hover {
  background-color: $strongpink;
}

.wrapper--active span {
  color: white !important;
}

.wrapper--active .btn--close svg {
  fill: white;
}

.tag {
  color: #868686;
  display: flex;
  align-items: center;
}

.tag--bold {
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 170px;
  color: #575757;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.tag--regular {
  display: inline;
  text-overflow: ellipsis;
  width: 170px;
  overflow: hidden;
}

.wrapper--active .tag--bold {
  color: white;
  font-weight: bold;
}

.btn--close {
  opacity: 0;
  margin-left: 12px;
  width: 16px;
  height: 16px;
}

.wrapper:hover .btn--close {
  opacity: 1;
}

.btn--close svg {
  fill: $darkgray;
}

.icon--number-mention {
  background: $red;
  color: white;
  width: 6px;
  height: 6px;
  font-size: 12px;
  padding: 7px 7px;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
 justify-content: center;
}
