@import "../../../styles/main";

$left-padding: 16px;

.wrapper {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 4px;
  padding-left: $left-padding;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
}

.wrapper:hover {
  background-color: white;
}

.wrapper--active {
  background-color: $pink;
}

.wrapper--active:hover {
  background-color: $pink;
}

.wrapper--active span {
  color: white !important;
}

.wrapper--active .btn--close svg {
  fill: white;
}

.tag:hover {
  background: white;
}

.tag--active {
  background-color: $pink;
}

.btn--close {
  opacity: 0;
  margin-left: 12px;
  width: 16px;
  height: 16px;
}

.btn--close:hover {
  opacity: 1;
}

.btn--close svg {
  fill: $darkgray;
}

.icon--number-mention {
  background: red;
  color: white;
  width: 8px;
  height: 8px;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
  margin-left: 5px;
}
