@import "../../../styles/main";

.wrapper {
  background-color: $gray;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  height: 100%;
}

.header {
  background-color: $black;
  padding: 1rem 1rem;
  margin-bottom: 15px;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0px;
  z-index: 6;
  justify-content: space-between;
  box-sizing: border-box;
}

.header--title {
  display: inline-block;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.hr {
  border-bottom: 2px solid white;
}

.header--title__number {
  width: 12px;
  height: 12px;
  padding: 6px 6px 6px 5px;
  margin-left: 10px;
  background: #FB3C3C;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.inner {
  padding: 60px 0px 120px 0px;
}

.ul {
  padding: 8px 8px 8px 15px;
}

.ul--past--notification li {
  opacity: 0.7;
}

.ul--past--notification li:hover {
  opacity: 1;
}

.ul__title {
  width: 174px;
  height: 25px;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
  padding-left: 18px;
}
