@import "../../../styles/main";

.wrapper {
  position: relative;
  display: flex;
  background: white;
  border-bottom: 1px solid $gray;
}

.wrapper__image-box {
  width: 5%;
  margin-top: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 20px 0px 20px 30px;
}

.wrapper__image-box img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.input {
  z-index: 200;
  font-size: 1rem;
  display: inline-block;
  background: transparent;
  border-radius: 20px;
  padding: 20px 20px 20px 0px;
  // font-size: 16px;
  width: 90%;
  outline: none;
  border: none;
  caret-color: $black;
  top: 0;
  left: 0;
}

.input:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  font-size: 25px;
	font-weight: 500;
  color: #dcdcdc;
}

.box--optional {
  display: flex;
  align-items: center;
  width: 180px;
  padding: 20px;
}

.drop-zone {
  text-align: center;
  height: 50px;
  width: 140px;
  color: #DCDCDC;
  border: 2px dotted #DCDCDC;
  padding: 20px;
  border-radius: 10px;
  text-overflow: ellipsis;
}

.drop-zone__box {
  position: relative;
}

.btn--file--delete {
  border: none;
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-bottom: 1px;
  padding-right: 1px;
  border-radius: 50%;
  background-color: $black;
  color: white;
  outline: none;
  position: absolute;
  top: -30px;
  right: -30px;
}

.btn--file--delete:after {
  content: 'X'
}

.btn--file--delete:hover {
  cursor: pointer;
}

.drop-zone__filename {
  @include h5;
  text-overflow: ellipsis;
  display: inline-block;
  width: 80%;
  overflow: hidden;
}

.image--user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.list--suggestion {
  font-family: $font-family;
}

.mention {
  display: inline-block;
}



span[data-user-id] {
  color: $pink;
}

span[data-mention=true] {
  color: $pink;
}

.input--wrapper {
  width: 100%;
  padding: 20px;
  height: auto;
  border: none;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.4px;
}

.input--mirror {
  // padding: 3rem 5%;
  color: red;
  width: 100%;
}

.suggestion {
  background-color: #474A56;
  width: 200px;
  position: absolute;
  bottom: -280px;
  border: 1px solid $gray;
  box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2);
  border-radius: 4px;
}

.suggestion__item {
  color: white;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  padding: 20px 30px;
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid #5c606f;
}

.suggestion__item[data-select=true]:after {
  position: absolute;
  right: 10px;
  content: url('./donut.png')
}

.icon {
  width: 1.5rem;
  cursor: pointer;
  margin-right: 15px;
  padding: 0;
}
