@import "../../../styles/main";

.element {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  top: 0;
  left: 0;
  width: 100%;
  background: $pink;
  color: white;
  font-weight: bold;
}
