@import "../../../styles/main";

.bar--filter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 33px;
  font-size: 30px;
  word-break: break-all;
}

.bar--filter span {
  font-weight: bold;
  font-size: 30px;
  color: #2d2d2d;
}

.btn {
  display: flex;
  margin-left: 15px;
  margin-right: -12px;
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 3px 10px;
  cursor: pointer;
}

.btn svg {
  fill: white;
  width: 0.6rem;
  cursor: pointer;
}

.pink {
  color: $black;
  background: #fdedf2;
}

.yellow {
  color: $black;
  background: #faf5ce;
}

.blue {
  color: $black;
  background: #e3f6fe;
}

.purple {
  color: $black;
  background: #f8e8ff;
}
