@import "../../../../styles/main";

.section-question {
  width: 100%;
  padding: 20px 5%;
  background-color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
}

.section--image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.section--image img {
  width: 100%;
}

.section--cards {
  padding: 2rem;
}

.section--cards__title {
  font-size: 15px;
  color: $darkgray;
}

.section--content {
  margin-left: 1rem;
}

.section--content__header {
  margin-bottom: 1rem;
}

.section--content__text {
  font-size: 25px;
}

.section--content__fotter {
  margin-top: 1rem;
}

.section--content__comment {
  // opacity: 0;
  // height: 0;
  // position: absolute;
  // top: -100px;
  // transition: height 1s ease;
  transition: opacity 0.5s ease;
  margin-top: 40px;
}

.section--content__comment__form {
  margin: 30px 0px;
}

.section--content__comment__list {
  margin-top: 30px;
}

.section--content__fotter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section--content {
  width: 100%;
}

.section--no-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.section--no-answer__title {
  margin-top: 30px;
}

.text--user-name {
  @include h4;
  margin-bottom: 20px;
}

.btn--like {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  margin: 0px 5px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
  background: white;
}

.btn--like:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%); ;
}

.btn--like:after {
  content: attr(data-count);
  margin-left: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
