@import "../../../../styles/main";

.wrapper {
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 60px);
}

.wrapper--shrink {
  @extend ._wrapper--shrink;
}

.section-question {
  width: 100%;
  padding: 24px 18px 24px 23px;
  background-color: white;
  margin-bottom: 6px;
  box-sizing: border-box;
  display: flex;
}

.section--image {
  cursor: pointer;
}

.section--image img {
  width: 45px;
  border-radius: 50%;
}

.section--cards {
  padding: 15px 2rem;
}

.section--cards--first {
  padding-top: 39px;
  padding-bottom: 180px;
}

.section--cards__title {
  font-size: 15px;
  color: #878787;
  text-transform: uppercase;
}

.section--content {
  margin-left: 1rem;
}

.section--content__header {
  margin-bottom: 10px;
}

.section--content__text {
  font-size: 25px;
  color: #5d5d5d;
}

.section--content__fotter {
  margin-top: 1rem;
}

.section--content__comment {
  // opacity: 0;
  // height: 0;
  // position: absolute;
  // top: -100px;
  // transition: height 1s ease;
  transition: opacity 0.5s ease;
  margin-top: 40px;
}

.section--content__comment__form {
  margin: 30px 0px;
}

.section--content__comment__list {
  margin-top: 30px;
}

.section--content__fotter {
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section--content {
  width: 100%;
}

.section--no-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  font-size: 20px;
  font-weight: bold;
}

.section--no-answer__title {
  margin-top: 30px;
}

.text--user-name {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #2d2d2d;
	font-weight: 900;
  cursor: pointer;
}

.text--user-name:hover {
  text-decoration: underline;
}

.btn--like {
  border: solid 1px #e1e1e1;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  margin: 0px 5px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
  background: white;
}

.btn-exit {
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  padding: 3px 15px;
  font-size: 0.8rem;
	border-radius: 8px;
  background: white;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  outline: none;
  text-transform: uppercase;
  color: #999999;
  cursor: pointer;
  margin-right: 10px;
}

.btn-exit:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%); ;
}

.btn--like:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%); ;
}

.btn--like:after {
  content: attr(data-count);
  margin-left: 5px;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
