@import "../../../styles/main";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.close {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  padding: 20px;
}

.close:after {
  content: 'X';
}

.box--img {
  flex: 4;
  height: auto;
  position: relative;
}

.image--profile {
  width: 100%;
}

.profile {
  width: 100%;
  min-height: 100px;
  background: -webkit-gradient(linear, left top, left bottom,
    from(rgba( 50, 50, 50, 0)),
    to(rgba( 80, 80, 80, 0.5))
  );;
  position: absolute;
  bottom: 4px;
}

.profile__name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  width: 100%;
  height: 29px;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}

.profile__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.profile__nav button {
  margin: 0px 5px;
}

.profile__icon--update {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.profile__icon--update svg {
  fill: white;
}

.tags {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  overflow: scroll;
}

.tags__list {

}

.tags__item {
  list-style: none;
  margin-bottom: 4px;
}

.tags__item:hover {
  text-decoration: underline;
}

.tags__item a {
  text-decoration: none;
  font-size: 20px;
  list-style: none;
  color: $pink;
  cursor: pointer;
  color: #fc70a6;
  cursor: pointer;
  overflow: hidden;
  width: 300px;
  text-overflow: ellipsis;
  display: inline-block;

}

.tags__item a:hover {
  text-decoration: underline;
}

.btn--message {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 9px 15px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  outline: none;
  text-transform: uppercase;
  color: #999999;
  margin-left: 15px;
}
