@import "../../../../styles/main";

.layout--select-school {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background-color: $orange;
}

.layout--select-school__header {
  display: flex;
  align-items: center;
  height: 20%;
}

.layout--select-school__fotter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.layout--select-school__fotter__right {
  height: 78px;
  width: 576px;
  background-image: url('../donuts_right.png');
}

.layout--select-school__fotter__left {
  height: 84px;
  width: 605px;
  background-image: url('../donuts_left.png');
}

.layout--select-school__title {
  @include h1;
  color: $darkgray;
}

.layout--select-school__content {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  padding: 0px 20%;
  box-sizing: border-box;
}

.layout--user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background-color: $whitegreen;
}

.btn {
  margin-top: 30px;
}
