@import "../../../styles/main";

.wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 0px;
  padding: 0px 30px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  min-height: 80px;
  box-sizing: border-box;
  width: 100%;
  &:hover{
    background: $extralightpink;
  }
}

.font-name {
  display: inline-flex;
  margin-right: 20px;
  font-size: 16px;
  color: #030303;
  font-weight: $font-weight-normal;
  align-items: center;
}

.text-user-hashtag {
  color: #B6B6B6;
  font-size: 14px;
  margin-right: 10px;
}

.row--hashtags {
  display: inline-block;
  margin-top: 10px;
}

.box--user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.box-image {
  overflow: hidden;
  display: inline-block;
  margin-right: 15px;
  border: 2px solid white;
}

.img-user {
  border-radius: 10px;
  border: 2px solid white;
  width: 50px;
}

.icon--online {
  @extend ._icon--online;
  margin-right: 5px;
}

.icon--offline {
  @extend ._icon--offline;
  margin-right: 5px;
}
