@import "../../../styles/main";

.input {
  border-radius: 15px;
  width: 204px;
  outline: none;
  border: none;
  height: 40px;
  background-color: #ffffff;
  opacity: 0.47;
  padding: 0px;
  font-family: $font-family;
  font-size: 0.9rem;
}
