@import "../../../styles/main";

.element {
  outline: none;
  border: none;
  padding: 0px;
  font-size: 0.8rem;
  color: #676668;
  background-color: #F7F7F7;
}

.wrapper {
  height: 40px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  width: 204px;
  background-color: #F7F7F7;
}

.wrapper svg {
  margin-left: 20px;
  margin-right: 10px;
}
