@import "../../styles/main";

.wrapper {
  position: fixed;
  right: 0px;
  top: 12px;
  z-index: 3;
  background: white;
  border-left: 1px solid $lightgray;
}

.sidebar--open {
  width: 330px;
  height: 100vh;
  transition: width 22s ease;
}

.sidebar--close {
  width: 0px;
  transition: width 22s ease;
}

.close {
  position: absolute;
  right: 5px;
  top: 15px;
  cursor: pointer;
  z-index: 8;
  font-size: 0.8rem;
}

.user--info {
  background: red;
  height: 100%;
}


.image img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  bottom: 0px;
}

.wrapper--btn {
  width: 200px;
  height: 20px;
}

.btn {
  background: #ffc7d7;;
  border: none;
  padding: 7px 20px 10px 20px;
  border-radius: 10px;
  width: 171.8px;
	height: 51px;
	border-radius: 15px;
	box-shadow: 0 0 10px 0 #cdcdcd;
  color: white;
  border: 3px solid white;
  outline: none;
  position: absolute;
  bottom: 10px;
  z-index: 400;
  cursor: pointer;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
}

.btn__inner {
  display: flex;
  justify-content: center;
}

.btn--give--donuts {
  position: fixed;
  right: 14px;
  bottom: 25px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.btn--donuts-history {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.btn--donuts-history__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image {
  width: 60px;
  border-radius: 50%;
  will-change: transform, opacity;
}

.image--animation--one {
  animation: floattop1 1s ease-in-out forwards;
}

.image--animation--two {
  animation: floattop2 3s ease-in-out forwards;
}

.image--animation--three {
  animation: floattop3 3s ease-in-out forwards;
}

@keyframes floattop1 {
  0%, {
    transform: translate3d(8px, -40px, 0px) scale(1);
    opacity: 1;
  }

  50%, {
    transform: translate3d(8px, -60px, 0px) scale(1.5);
  }

  100%, {
    transform: translate3d(8px, -60px, 0px) scale(0);
    opacity: 0;
  }
}


@keyframes floattop2 {
  0%, {
    transform: translate3d(8px, 90px, 0px) scale(0) rotate(10deg);
    opacity: 1;
  }

  10%, {
    transform: translate3d(8px, 40px, 0px) scale(1);
    opacity: 1;
  }

  20%, {
    transform: translate3d(8px, 40px, 0px) scale(2);
  }

  30%, {
    transform: translate3d(8px, 40px, 0px) scale(1.5);
  }

  40%, {
    transform: translate3d(8px, 40px, 0px) scale(2);
  }

  50%, {
    transform: translate3d(8px, 20px, 0px) scale(1) rotate(-10deg);
  }

  60%, {
    transform: translate3d(8px, 10px, 0px) scale(0.4) ;
  }

  70%, {
    transform: translate3d(8px, 0px, 0px) scale(0.3) ;
  }

  80%, {
    transform: translate3d(8px, -200px, 0px) scale(0.2);
  }

  90%, {
    transform: translate3d(8px, -440px, 0px) scale(0.2);
  }

  100%, {
    transform: translate3d(8px, -440px, 0px) rotate(10deg);
    opacity: 0;
  }
}


@keyframes floattop3 {
  0%, {
    transform: translate3d(8px, 90px, 0px) scale(0) rotate(-0deg);
    opacity: 1;
  }

  10%, {
    transform: translate3d(8px, 40px, 0px) scale(1) rotate(0deg);
    opacity: 1;
  }

  20%, {
    transform: translate3d(8px, 40px, 0px) scale(2) rotate(0deg);
  }

  30%, {
    transform: translate3d(8px, 40px, 0px) scale(1.5) rotate(0deg);
  }

  40%, {
    transform: translate3d(8px, 40px, 0px) scale(2) rotate(0deg);
  }

  50%, {
    transform: translate3d(8px, 20px, 0px) scale(1) rotate(0deg);
  }

  60%, {
    transform: translate3d(8px, 10px, 0px) scale(0.4) rotate(-27deg);
  }

  70%, {
    transform: translate3d(8px, 0px, 0px) scale(0.3) rotate(-27deg);
  }

  80%, {
    transform: translate3d(8px, 0px, 0px) scale(0.2) rotate(27deg);
  }

  90%, {
    transform: translate3d(8px, -440px, 0px) scale(0.2) rotate(27deg);
  }

  100%, {
    transform: translate3d(8px, -440px, 0px) rotate(-27deg);
    opacity: 0;
  }
}

.btn--donuts-history__inner .image[data-image-id='1'] {
  z-index: 300;
}

.btn--donuts-history__inner .image[data-image-id='2'] {
  z-index: 200;
}

.btn--donuts-history__inner .image[data-image-id='3'] {
  z-index: 100;
}

.notification {

}

.historyDonut {

}

.donut--small--one {
  position: absolute;
  top: -40px;
  right: 0px;
  animation: spreadDonuts1 0.5s ease-in-out normal;
}

.donut--small--two {
  position: absolute;
  top: -20px;
  right: 40px;
  animation: spreadDonuts2 0.5s ease-in-out normal;
}

.donut--small--three {
  position: relative;
  top: 0px;
  right: 20px;
  animation: spreadDonuts3 0.5s ease-in-out normal;
}

$moveLeft: 0%;

@keyframes spreadDonuts1 {
  10%, {
    transform: translate3d($moveLeft, 0px, 0px) scale(1) rotate(-0deg);
    opacity: 1;
  }

  80%, {
    opacity: 1;
  }

  100%, {
    transform: translate3d($moveLeft, -240px, 0px) rotate(-2700deg);
    opacity: 0;
  }
}

@keyframes spreadDonuts2 {
  0%, {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }

  80%, {
    opacity: 1;
  }

  100%, {
    transform: translate3d(-160px, -160px, 0px) rotate(-2700deg);
    opacity: 0;
  }
}

@keyframes spreadDonuts3 {
  0%, {
    transform: translate3d(0px, 0px, 0px) rotate(-0deg);
    opacity: 1;
  }

  80%, {
    opacity: 1;
  }

  100%, {
    transform: translate3d(-240px, 0px, 0px) rotate(-2700deg);
    opacity: 0;
  }
}



@media only screen and (min-width: 769px) {
  .wrapper {
    width: 330px;
    transition: width 2s ease;
  }
}


@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    transition: width 0.2s;
  }
}
