@import "../../styles/main";

.wrapper {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 3;
  background: white;
  border-left: 1px solid $lightgray;
}

.sidebarOpen {
  width: 330px;
  height: 100vh;
  transition: width 22s ease;
}

.sidebarClose {
  width: 0px;
  transition: width 22s ease;
}

.close {
  position: absolute;
  right: 5px;
  top: 15px;
  cursor: pointer;
  z-index: 8;
  font-size: 0.8rem;
}

.close:after {
  content: 'X';
  width: 3px;
  height: 3px;
  padding: 4px 6px;
  border-radius: 50%;
}

.userInfo {
  background: red;
  height: 100%;
}

.image {
  width: 60px;
  border-radius: 50%;
}

.image img {
  width: 100%;
  border-radius: 50%;
}

.btn {
  background: $pink;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 171.8px;
	height: 51px;
	border-radius: 15px;
	background-color: #ffc7d7;
	box-shadow: 0 0 10px 0 #cdcdcd;
	border: solid 2px #ffffff;
  font-size: 1rem;
  color: white;
  font-size: 1.4rem;
  border: 3px solid white;
  outline: none;
}

.btnDonutsHistory {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.btnDonutsHistoryInner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.btnDonutsHistoryInner .image[data-image-id='1'] {
  width: 80px;
  border: 2px solid white;
}

.btnDonutsHistoryInner .image[data-image-id='2'] {
  opacity: 0.5;
  width: 50px;
}


.btnDonutsHistoryInner .image[data-image-id='3'] {
  position: absolute;
  opacity: 0.4;
  top: 0px;
  right: 80px;
  width: 37px;
}

.notification {

}

.historyDonut {

}

@media only screen and (min-width: 769px) {
  .wrapper {
    width: 330px;
    transition: width 2s ease;
  }
}


@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    transition: width 0.2s;
  }
}
