@import "../../../styles/main";

.hashtag {
  color: $strongpink;
  text-decoration: none;
}

.hashtag:hover {
  text-decoration: underline;
}

.hashtag:visited {
  color: $strongpink;
}

.element {
  word-break: break-all;
}

.element img {
  vertical-align: bottom;
}
