.page {
  padding: 6rem 30%;
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}

.container {

}

.container p {
  margin: 2rem 0px;
}

.container ul {
  padding: 10px;
}

.container ul li {
  margin: 0px 40px;
}
