@import "../../../styles/main";

.wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px 0.3rem;
  border-radius: 20px;
  margin: 7px 17px;
  background: white;
  align-items: center;
}

.font-name {
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  color: $black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
}

.font-time {
  width: 43px;
	height: 14px;
	font-size: 12px;
	font-weight: bold;
  color: #e0e0e0;
}

.font-link {
  height: 14px;
  font-size: 12px;
  color: #878787;
}

.section__content {
  width: 93%;
}

.box-image {
  display: flex;
  min-width: 55px;
  overflow: hidden;
  margin-right: 15px;
  justify-content: flex-end;
  align-items: flex-end;
}

.img-user {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.box--info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.box--info__left {
  display: flex;
  flex-direction: column;

}
