@import "../../../../styles/main";

.layout {

}

.layout--fos {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  background: orange;
}

.layout--classes {
  // => common
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  //

  background: purple;
}

.layout--profile-picture {
  // => common
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  //
  background: darkblue;
}

.header {
  flex: 2;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  color: white;
}

.content {
  flex: 3;
  width: 100%;
  padding: 0px 20%;
  box-sizing: border-box;
}

.bottom {
  flex: 2;
}

.input {
  margin: 20px 0px;
}
