@import "../../../styles/main";

.container--search-school {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  align-items: center;
}

.list--school {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  width: 400px;
  overflow-y: scroll;
}

.list--school:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 100px;
  border-color: transparent transparent #FFF transparent;
}

.item--school {
  color: $darkgray;
  list-style: none;
  padding: 10px 25px;
  text-align: left;
  border-radius: 18px;
  font-weight: 500;
  cursor: pointer;
}

.item--school:hover {
}

.item--school--active {
  color: $orange;
}
