@import "../../../styles/main";

$color-shadow: 100;
.element {
  display: none;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba($color-shadow, $color-shadow, $color-shadow, 0.2), 0 6px 20px 0 rgba($color-shadow, $color-shadow, $color-shadow, 0.19);
  border: 1px solid #e1e1e1;
  font-size: 12px;
  text-align: left;
  padding: 4px 0px;
}

.element--active {
  display: block;
}

.element__item {
  list-style: none;
  padding: 5px 10px;
  cursor: pointer;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.element__item:hover {
  background-color: $pink;
  color: white;
}

.element__item span {
  display: inline-block;
}

.element__item span svg {
  margin-right: 3px;
  vertical-align: text-top !important;
}

.element__item span [data-icon="delete-forever"] {
  transform: scale(1.4);
}
