@import "../../styles/main";

.error {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  top: 0;
  left: 0;
  width: 100%;
  background: $pink;
  color: white;
  font-weight: bold;
}

.success {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  top: 0;
  left: 0;
  width: 100%;
  background: #31c77e;
  color: white;
  font-weight: bold;
}

.link {
  color: white;
}

.message {
}
