@import "../../../styles/main";

.box--donuts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box--donuts__row {
  display: inline-flex;
  color: #878787;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
}

.box--donuts__row svg {
  margin-left: 10px;
  margin-right: 5px;
}

.receive-donuts--active {
  animation: zoom 0.3s cubic-bezier(.36,.07,.19,.97);
  transform: translate3d(0, 0, 0);
}

@keyframes zoom {
  10%, 90% {
    transform: scale(1.1);
  }

  20%, 80% {
    transform: scale(1.15);
  }

  30%, 50%, 70% {
    transform: scale(1.2);
  }

  40%, 60% {
    transform: scale(1.3);
  }
}
