@import "../../../../styles/main";

.wrapper {
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 60px);
}

.wrapper--shrink {
  @extend ._wrapper--shrink;
}

.bar--filter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
  font-size: 1.6rem;
}

.btn--close {
  display: flex;
  margin-right: 10px;
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 3px 10px;
}

.btn--close svg {
  fill: white;
  width: 0.6rem;
}

.section--cards {
  padding: 18px 2rem;
}

.section--cards__title {
  font-size: 15px;
  color: #878787;
  text-transform: uppercase;
  padding-left: 5px;
}

.section--cards__blank {
  opacity: 0.5;
}
