@import "../../../styles/main";

.wrapper {
  display: flex;
  align-items: center;
  width: 400px;
}

.wrapper svg {
  transform: scale(1.8);
  margin-right: 10px;
  cursor: pointer;
}

.input-text {
  font-family: $font-family;
  font-weight: 500;
  width: 100%;
  background: none;
  border: none;
  color: $black;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
}

.input-text--left {
  text-align: left;
}

.input-text::placeholder {
  font-weight: bold;
  color: rgba(64, 64, 64, 0.5);
}
