@import "../../../styles/main";

.button {
  border-radius: 12px;
  width: 240px;
  border: none;
  font-size: 1rem;
  font-weight: $font-weight-normal;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  background: $lightgray;
  padding: 6px 0px 6px 20px;
  border: 2px solid white;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  align-items: center;
  transition: border 0.2s ease-out;
}

.icon {
  margin-right: 16px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 38px;
  width: 70%;
}

.wrapper {
  text-decoration: none;
  color: inherit;
}

.font--file--name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
  text-decoration: none;
  color: #6d6d6d;
}

.font--file--size {
  color: #cccccc;
}
