@import "../../../styles/main";

$left-padding: 16px;

.absolute {
  width: auto;
}

.wrapper {
  position: sticky;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  background-color: $gray;
  will-change: transform;
  overflow: scroll;
  z-index: 3;
  color: #333333;
}

.nav {
  padding-bottom: 60px;
}

.section {
  margin-top: 18px;
  margin-bottom: 9px;
  padding: 0;
}

.section a {
  text-decoration: none;
  color: #333333;
}

.section__label {
  font-size: 15px;
  padding-left: $left-padding;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #2D2D2D;
  text-transform: uppercase;
}

.section__label span {
  line-height: 15px;
}

.section__label:after {

}

.section__label svg {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.section__tag {
  color: #868686;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  padding-left: $left-padding;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 196px;
  line-height: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  margin: 2px 0px;
}

.section__tag:hover {
  background-color: white;
}

.section__tag--hot {
  color: $darkgray;
  background-color: white;
  display: flex;
  align-items: center;
  width: 196px;
  padding: 3px 5px 3px $left-padding !important;
}

.section__tag--hot--active {
  background-color: $strongpink;
}

.section__tag--hot--active:hover {
  background-color: $strongpink;
}


.section__tag--hot--active a {
  color: white;
}

.section__tag--hot:before {
  content: '🏫';
  margin-right: 10px;
}

.section__tag--hot a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.section__text--add {
  color: #575757;
  display: inline-block;
  margin: 4px 16px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-bottom: 3px dotted inherit;
}

.section__text--add span {
  white-space: nowrap;
  color: #575757;
  border-bottom: 2px dotted #575757;
}

.user-names {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
}

.icon--channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #969696;
  border-radius: 4px;
  color: white;
  margin-right: 5px;
  font-size: 0.6rem;
  width: 16px;
  height: 16px;
  font-size: 11px;
}

.icon--channel--online-status {
  margin-right: 5px;
  padding: 1px 2px 3px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--online {
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 2px;
  border-radius: 50%;
  background: #5fe36f;
}

.icon--number--new-message {
  background: $red;
  color: white;
  width: 8px;
  height: 8px;
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 50%;
  margin-left: 5px;
}

.input--search-tag {
  margin: 17px 13px 18px 13px;
  font-family: $font-family;
  padding-left: $left-padding;
  padding: 0px 20px 0px 25px;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.btn--show-more {
  background: none;
  outline: none;
  border: none;
  font-size: 0.8rem;
  border-radius: 10px;
  background: darken($gray, 3%);
  border: 2px solid darken($gray, 5%);
  padding: 2px 5px;
  margin-top: 10px;
  margin-left: $left-padding;
  font-size: 0.8rem;
  cursor: pointer;
  width: 50%;
}

.btn--show-more:before {
  content: '';
}

.input--add-tag {
  font-family: $font-family;
  font-size: 14px;
  color: $black;
  margin: 5px 0px 5px $left-padding;
  outline: none;
  padding: 8px 10px;
  width: 78%;
  border-radius: 4px;
  border: none;
}

.tag__btn--close {
  opacity: 0;
  margin-left: 12px;
  width: 16px;
  height: 16px;
}

.tag__btn--close:hover {
  opacity: 1;
}

.tagBtnClose svg {
  fill: $darkgray;
}

@media only screen and (min-width: 769px) {
  .wrapper {
    opacity: 1;
    min-width: 230px;
    max-width: 230px;
    flex-basis: 230px;
    transition: padding 2s ease;
    transition: opactiy 0.4s ease;
    transition: min-width 0.4s ease;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    opacity: 0;
    min-width: 0px;
    flex-basis: 0px;
    position: fixed;
    min-height: 100vh;
    background-color: $gray;
    padding: 0px;
    width: 0;
    transition: width 0.2s;
  }
}
