@import "../../../styles/main";

$left-padding: 25px;

.wrapper {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 122rem;
  background-color: $gray;
  will-change: transform;
  overflow: scroll;
  z-index: 3;
}

.section {
  margin-top: 1.5rem;
  padding: 0;
}

.section a {
  text-decoration: none;
  color: $darkgray;
}

.section__label {
  @include label
  padding-left: $left-padding;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #2D2D2D;
}

.section__label span {
  line-height: 15px;
}

.section__label:after {

}

.section__label svg {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.section__tag {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 4px;
  padding-left: $left-padding;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
}

.section__tag--hot {
  color: $darkgray;
  background-color: white;
  display: flex;
  align-items: center;
}

.section__tag--hot:before {
  content: '🏫';
  margin-right: 20px;
}

.section__text--add {
  @include label
  display: inline-block;
  padding-left: $left-padding;
  margin: 4px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-bottom: 3px dotted inherit;
}

.user-names {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
}

.icon--channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #969696;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  color: white;
  margin-right: 12px;
  padding: 1px 2px 3px 2px;
  font-size: 0.6rem;
}

.icon--channel--online-status {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  padding: 1px 2px 3px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--online {
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 2px;
  border-radius: 50%;
  background: #5fe36f;
}

.input--search-tag {
  margin: 17px 20px 12px;
  font-family: $font-family;
  padding-left: $left-padding;
  padding: 0px 20px 0px 25px;
}

.hide {
  display: none;
}

.btn--show-more {
  background: none;
  outline: none;
  border: none;
  font-size: 0.8rem;
  border-radius: 10px;
  background: darken($gray, 3%);
  border: 2px solid darken($gray, 5%);
  padding: 2px 5px;
  margin-top: 10px;
  margin-left: $left-padding;
  font-size: 0.8rem;
  cursor: pointer;
  width: 50%;
}

.btn--show-more:before {
  content: '';
}

.input--add-tag {
  font-family: $font-family;
  font-size: 14px;
  color: $black;
  margin: 10px 10px 20px $left-padding;
  outline: none;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
}

.tag {

}

.tagBtnClose {
  opacity: 0;
  margin-left: 12px;
  width: 16px;
  height: 16px;
}

.tagBtnClose:hover {
  opacity: 1;
}

.tagBtnClose svg {
  fill: $darkgray;
}

@media only screen and (min-width: 769px) {
  .wrapper {
    opacity: 1;
    min-width: 220px;
    flex-basis: 220px;
    transition: padding 2s ease;
    transition: opactiy 0.4s ease;
    transition: min-width 0.4s ease;
  }
}


@media only screen and (max-width: 768px) {
  .wrapper {
    opacity: 0;
    min-width: 0px;
    flex-basis: 0px;
    position: fixed;
    min-height: 100vh;
    background-color: $gray;
    padding: 0px;
    width: 0;
    transition: width 0.2s;
  }
}
