.wrapper {
  position: relative;
}

.element {
  display: none;
}

.top {
  top: 35px;
}

.bottom {
  bottom: -35px;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.wrapper:hover .element {
  display: block;
  content: attr(data-tip);
  position: absolute;
  padding: 8px;
  background: #404040;
  white-space: nowrap;
  border-radius: 8px;
  font-size: 12px;
  color: white;
}
