@import "../../../../styles/main";

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  left: 0px;
  top: 0px;
  background: $lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  z-index: 40;
}

.header__section--selected-user {
  line-height: 3rem;
  padding: 10px 0px;
}

.content {
  display: block;
  padding: 110px 14% 0px 14%;
  min-width: 80%;
  box-sizing: border-box;
}

.header {
  padding: 20px 0px;
}

.header--title {
  color: #222222;
  font-size: 40px;
	font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  padding: 20px 30px;
  background: white;
  font-size: 1rem;
  border-radius: 15px;
  margin-left: 10px;
  border: 2px solid $purple;
  font-weight: 600;
  cursor: pointer;
}

.btn--close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}

.btn--close__text {
  margin-top: 5px;
}

.header--form {
  display: flex;
  flex-direction: row;
}

.tag--user {
  position: relative;
  background-color: $pink;
  color: white;
  border: 2px solid darken($pink, 2%);
  border-radius: 4px;
  padding: 10px 30px 10px 10px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
}

.icon--close {
  position: absolute;
  top: 8px;
  right: 2px;
}


.section--recent {
  width: 100%;
}

.section {
  height: 500px;
  overflow: scroll;
}

.section__title {
  color: #757575;
  font-size: 12px;
  font-weight: 300;
  border-bottom: solid 1px #dbdbdb;
  margin-bottom: 3px;
}
